extends layouts/main-layout.pug

block content
    form.message-form(action="message", method="POST")
        .form-control
            label(for="title") #{msgSubmitTitle}
            input(type="text", name="message")#message
        button.btn(type="submit") #{msgSubmitBtn}