<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form class="message-form" action="/message" method="POST">
        <div class="form-control">
            <label for="msg">Message:</label>
            <input type="text" name="msg" id="msg">
        </div>
        <button class="btn" type="submit">Send message</button>
    </form>
</body>
</html>