<form class="message-form" action="/message" method="POST">
    <div class="form-control">
        <label for="msg">{{ lbMessage }}</label>
        <input type="text" name="msg" id="msg">
    </div>
    <button class="btn" type="submit">{{ btnSend }}</button>
</form>